.WeatherForecast {
  text-align: center;
  margin-top: 3rem;
  border-radius: 20px;
  padding-bottom: 1rem;
}
.WeatherForecastPreview {
  margin-bottom: 1.5rem;
}

.WeatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color);
}

.WeatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 700;
}

.WeatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.7;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 15px auto;
}
